* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    background: #9b59b6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background:url(../image/img-cuong/nenForm.png);
    background-size: cover;
}

.main {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;

    
}

.header {
    background-color: #FFBD17;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h2{
    margin: 0;
}

.form {
    padding: 30px 40px;

}

.form-group {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 20px;
    flex-direction: column;

}

.form-laber,
.form-message {
    text-align: left;
}

.form-group label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;

}

.form-group input {
    border-radius: 4px;
    border: 2px solid #999;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    font-weight: 700;
}





.form button {
    background-color: #FFBD17;
    border: 2px solid #FFBD17;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;


}

.form button:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}


.form-submit {
    font-weight: 700;
}
.invalid span{
    color: red;
    font-weight: bold;
}

.invalid input{
    border: 2px solid red;
}

.form .dieuhuong {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;

}

.form .dieuhuong a{
    color: #111;
    text-decoration: none;
    font-weight: bold;
}