* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth
}

body {
    min-height: 1000px;
}

/* Ảnh banner */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner  .video-banner {
    position: absolute;
    bottom: 0;
    right: 0;
    /* min-width: 100%;
    min-height: 100%; */
    width: 100% ;
    /* height: auto; */
    z-index: -1;
    overflow: hidden;
}
.banner-content {
    
    text-align: center;
}

.banner .banner-content h2{
    font-size: 4em;
    color: #fff;
}
.banner p {
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}

.btn-Banner {
    font-size: 1em;
    color: #FFF;
    background: #ffbd17;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: bolder;
}

.btn-Banner:hover {
    letter-spacing: 5px;

}



/* thanh header  */
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background:#fff;
}



header.sticky {
    background: #fff;
    padding: 0px 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.062);
   

}

header .logo {
    /* background: #ffdbbf3f; */
    border-radius: 10px;
    
}

header .nav {
    position: relative;
    display: flex;
}

header .nav li{
    list-style: none;
    padding-left: 30px;
}

header .nav li a{
    text-decoration: none;
    color: #111;
    font-weight: 900;
    
}

header .nav li a .logIn {
    /* font-size: 25px; */
    text-align: center;


}

header .nav li a .far {
    font-size: 20px;
    

}

header.sticky .nav li a{
    color: #111;
}

header .nav li a:hover{
    color: #ffbd17;

}

.header_search {
    flex: 1;
    height: 35px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.header_search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: rgba(17, 17, 17, 0.473);
    font-weight: bold;
    padding: 0 16px;
    border-radius: 3px;
    background-color: #f0f0f0;
}

.header_search-btn {
    background-color: #ffbd17;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
    outline:none;
}

.header_search-btn:hover {
    background-color: #fdd46f;
}

.header_search-btn-icon {
    font-size: 1em;
    color: white;
}

.user {
    position: relative;
}

.user-option {
    position: absolute;
    right: 0;
    top:100%;
    width: 11   0px;
    box-shadow: 0 0 3px #ccc;
    padding: 0;
    /* overflow: hidden; */
    display: none;
    
}

.user-option::after {
    content: "";
    display: block;
    width: 100%;
    height:5px;
    top: -10px;
    left: 0;
    background-color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-option-item {
    background-color: #fff;
    /* border-top-left-radius: 3px; */
    padding: 8px 8px;
    text-align: center;
    
}


.user-option-item:hover  {
    background-color: #fafafa;
}

.user:hover .user-option{
    display: block;
}

/* .user-option-item a{
   
    
} */

.user-option-item
/* About */
.about {
    background: url(../image/img-cuong/about2.png);
    width: 100%;
    height: 100vh;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
}

.row .about-song img {
    position: absolute;
    top: 10px;
    left: 40%;
    
}
.row .col {
    position: relative;
    width: 39%;
}

.about-title {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    background: #ffbd17;
    width: 200px;
    text-align: center;
    margin: 91px 0 20px 0;
    border-radius: 0 50px 50px 5px;
}

.about-title span{
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}

.col-text {
    color: #111;
    font-size: 1em;
    font-weight: 600;
    padding: 40px 10px 0 40px;
}

.col-img {
    width: 100%;
    height: 100%;
    position: relative;
}
.row img{
    position: absolute;
    bottom: -35px;
    left: 0;
    scroll-behavior: smooth;
}

/* REVIEW */
.review {
    background: url(../image/img-cuong/bia_review.png);
    object-fit: cover;
    background-size: cover ;
    background-position: center;
    background-attachment:fixed ;
    padding-bottom: 30px;
   
    
}


.review-title {
    display: flex;
    justify-content: space-between;
    padding: 91px 50px 30px 0;
    color: #FFF;
}
 
.review-title .title {
    background: #ffbd17;
    font-size: 2em;
    font-weight: 700;
    width: 200px;
    text-align: center;
    border-radius: 0 50px 50px 0px;
    padding-left: -40px;
}

.review-title .title span{
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}

/* SEARCH */
.search { 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 257px;
    height: 40px;
    border-radius: 10px;
    margin-top: 22px;
}

.search .icon {
    background: #ffbd17;
    margin-left: 10px;
    width: 40px;
    height: 29px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search .input .input-search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}


.review .review-content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap ;
    margin-top: 10px;
}

.review .review-content .content-box {
    width: 340px;
    height: 400px;
    margin: 20px;
    border: 10px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08) ;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.review .review-content .content-box .box-img {
    position: relative;
    width: 100%;
    height: 270px;
}

.review .review-content .content-box .box-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.review .review-content .content-box .box-text {
    padding: 10px 10px;
    background: #fff;
}

.review .review-content .content-box .box-text h3{
    font-size: 1em;
}

.review .review-content .content-box .box-text .box-like {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.review .review-content .content-box .box-text .box-like i{
    padding-left: 20px;
}

.review .review-content .content-box:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* VIDEO */

.video {
    position: relative;
    background: url(../image/img-cuong/img_video4.png);
 
    z-index: 2;
}
.video .video-content {
    width: 80%;
    height: 100vh;
    margin: auto;
}
.video h1{
    padding: 80px 0 60px 0 ;
    color: #fff;
    font-size: 44px;
    text-align: center;
}

.video-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.video .video-content .video-row .col {
    flex-basis: 50%;
    min-width: 250px;
}

.video .video-content .video-row .col .feature-img{transition: 0.5s ease;}
.video .video-content .video-row .col .feature-img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.video .video-content .video-row .col .small-img-row{transition: 0.5s ease;}
.video .video-content .video-row .col .small-img-row:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.feature-img {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row {
    display:flex;
    background: #fff;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    height: 74px;
}

.small-img {
    position: relative;
    
}

.small-img img{
    width: 100%;
}

.small-img-row p{
    margin-left: 20px;
    color: rgba(17, 17, 17, 0.514);
    line-height: 22px;
    font-size: 15px;
    font-weight: bold;
}

.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    
}

.small-img .play-btn {
    width: 35px;
}

.video-player {
    width: 100%;
    height: 100vh;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background: url(../image/img-cuong/img_video.png);
    object-fit:fill;
 
}

.video .video-content .video-player video{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}


video:focus{
    outline: none;

}

.close-btn {
    position: absolute;
    top: 12%;
    right: 2%;
    width: 40px;
    cursor: pointer;
}



/* profiles */

.founders {
    min-height: 100vh;
    background: url(../image/img-cuong/profile/bia-profile.png);
    background-size: cover ;
    background-position: center;
    background-attachment:fixed ;
}

.founders .heading span{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 30px;
}

.founders .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:2em 0;
}

.founders .box-container .box {
    height: 30rem;
    width: 20rem;
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.founders .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.founders .box-container .box .info{
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 5px solid #fff;
    text-align: center;
}

.founders .box-container .box:hover .info{
    bottom: 0;
}
.founders .box-container .box .info h3{
    font-size: 1.5em;
    color: #333;

}

.founders .box-container .box .info span{
    font-size: 1em;
    font-weight: 600;
    color: #666;

}
.founders .box-container .box .info .share {
    margin-top: 10px;
    border-top: 1px solid rgba(0,0,0,.3);

}

.founders .box-container .box .info .share a{
    font-size: 20px;
    margin: 20px;
    color: #333;
    text-decoration: none;
}

.founders .box-container .box .info .share a:hover{
    color: #7AD3E5;
}


/* CONTACT */
.contact {
    background: #ffbd17;
}

.content {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 50px 100px 20px 100px;
}


/* fromBx */

.fromBx {
    min-width: 60%;
}

.fromBx form{
    display: flex;
    flex-direction: column;
}

.fromBx form h3,
.contactInfo h3
{
    color: #555;
    font-size: 30px;
    font-weight:bold ;

}

.fromBx form input,
.fromBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
    border-radius: 10px;
}

.fromBx form textarea {
    min-height: 200px;
}

.fromBx form input::placeholder,
.fromBx form textarea::placeholder {
    color: rgba(153, 153, 153, 0.555);
    font-weight: 700;
}

.fromBx form input[type="submit"] {
    max-width: 120px;

    background: #222;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 10px;

}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-height: 40px;
    padding-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight:bold;
}

.contactInfoBx .box .text h3{
    /* font-weight: 500; */
    color: #111;
}




/* Start MODAL */
.modal {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    display: none;
}



.modal__overLay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0,0.4);
}

.modal__body{
    width: 300px;
    height: 300px;
    background: #fff;  
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    cursor: pointer;
}

/* End MODAL */


