* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth
}

a{
  text-decoration: none;
  color: #555;
}
p{
  color: black;
  font-weight: bold;
  margin: 20px;
}
header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding: 5px 30px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background:#0c42f37a;
}

header.sticky {
  background: #fff;
  padding: 0px 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.062);
 

}

header .logo {
  /* background: #ffdbbf3f; */
  border-radius: 10px;
  
}

header .nav {
  position: relative;
  display: flex;
}

header .nav li{
  list-style: none;
  margin-left: 30px;
}

header .nav li a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  
}

header .nav li a .far {
  font-size: 25px;
}

header.sticky .nav li a{
  color: #111;
}

header .nav li a:hover{
  color: #ffbd17;

}
.nut{
  margin-top: 100px;
}
.container{
height: 100%;
margin-top: 20px;
}
.nut--like {
padding: 5px 5px;
background: #3543c0;
font-size: 13px;
border-radius: 5px;
color: #e8efff;
outline: none;
border: none;
cursor: pointer;
margin-right: 20px;
}
.nut--pinterest {
padding: 5px 5px;
background: #bb2323;
font-size: 13px;
border-radius: 5px;
color: #e8efff;
outline: none;
border: none;
cursor: pointer;
margin-right: 20px;
}
.nut--twitter {
padding: 5px 5px;
background: #8692ff;
font-size: 13px;
border-radius: 5px;
color: #e8efff;
outline: none;
border: none;
cursor: pointer;
margin-right: 20px;
}
.row1{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.col-1{
  flex-basis: 40%;
  overflow-x: hidden;
  background: linear-gradient(rgb(231, 195, 231), rgb(204, 216, 247));
  border-radius: 5px;
}
.col-1 h2{
  color: red;
}
.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #ffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #ffff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #ffff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #ffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #ffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #ffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #ffff;
}
.btn--1{
  display: inline-block;
  background: rgb(122, 155, 57);
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}
.btn--2 {
  display: inline-block;
  background: rgb(78, 77, 156);
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}
.btn--1:hover{
  background: #f0776e;
}
.btn--2:hover{
  background: #f0776e;
}

.anh--comment{
margin: 20px;
height: 100%;
place-items: center;
text-align: center;
background-color: rgb(255, 231, 192);

}
.testimonial-box img {
  display: inline-block;
  width: 90px;
  height:80px;
  border-radius: 50%;
  margin: 0 0 15px;
}
.testimonial-box h4 {
  color: #fe4819;
}
.testimonial-box p {
  margin-bottom: 20px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  padding: 5px;
}
.ratings-icons {
  color: #fec42d;
  margin-bottom: 15px;
}
.binhluan{
display: grid;
height: 100%;
place-items: center;
text-align: center;
}
.container2{
position: relative;
width: 400px;
background: linear-gradient(to right, rgb(207, 127, 207), rgb(121, 165, 216));
padding: 20px 30px;
border: 1px solid #444;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.container2 .post{
display: none;
}
.container2 .text{
font-size: 25px;
color: rgb(0, 0, 0);
font-weight: 500;
}
.container2 .edit{
position: absolute;
right: 10px;
top: 5px;
font-size: 16px;
color: rgb(15, 0, 0);
font-weight: 500;
cursor: pointer;
}
.container2 .edit:hover{
text-decoration: underline;
}
.container2 .star-widget input{
display: none;
}
.star-widget label{
font-size: 40px;
color: #444;
padding: 10px;
float: right;
transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}
input:checked ~ label{
color: #fd4;
}
input#rate-5:checked ~ label{
color: #fe7;
text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form section:before{
content: "I just hate it ";
}
#rate-2:checked ~ form section:before{
content: "I don't like it ";
}
#rate-3:checked ~ form section:before{
content: "It is awesome ";
}
#rate-4:checked ~ form section:before{
content: "I just like it ";
}
#rate-5:checked ~ form section:before{
content: "I just love it ";
}
.container form{
display: none;
}
input:checked ~ form{
display: block;
}
form section{
width: 100%;
font-size: 25px;
color: #fe7;
font-weight: 500;
margin: 5px 0 20px 0;
text-align: center;
transition: all 0.2s ease;
}
form .textarea{
height: 100px;
width: 100%;
overflow: hidden;
}
form .textarea textarea{
height: 100%;
width: 100%;
outline: none;
color: #eee;
border: 1px solid #333;
background: rgb(255, 255, 255);
color:black;
padding: 10px;
font-size: 17px;
resize: none;
}
.textarea textarea:focus{
border-color: rgb(28, 114, 155);
}
form .btn{
height: 45px;
width: 100%;
margin: 15px 0;
}
form .btn button{
height: 100%;
width: 100%;
border: 1px solid #444;
outline: none;
background: rgb(255, 255, 255);
color: #999;
font-size: 17px;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
transition: all 0.3s ease;
font-weight: 600;
}
form .btn button:hover{
background: #1b1b1b;
color: #ffff;
}
.btn-grey{
background-color:#D8D8D8;
color:#FFF;
}
.rating-block{
background-color:#FAFAFA;
border:1px solid #EFEFEF;
padding:15px 15px 20px 15px;
border-radius:3px;
}
.bold{
font-weight:700;
}
.padding-bottom-7{
padding-bottom:7px;
}

.review-block{
background-color:#FAFAFA;
border:1px solid #EFEFEF;
padding:15px;
border-radius:3px;
margin-bottom:15px;
}
.review-block-name{
font-size:12px;
margin:10px 0;
}
.review-block-date{
font-size:12px;
}
.review-block-rate{
font-size:13px;
margin-bottom:15px;
}
.review-block-title{
font-size:15px;
font-weight:700;
margin-bottom:10px;
}
.review-block-description{
font-size:13px;
}
.well img{
  display: inline-block;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  margin: 0 0 15px
} 
.row:after{
	content: '';
	display: table;
	clear: both;
}
.left-column{
float: left;
width: 75%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #eb7f7f;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}


/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

