* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth
}

.main {
  background: #F5F5F5;
}
.container p{
  color: black;
  font-weight: bold;

}

/* header */
header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 5px 30px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background:#fff;
}



header.sticky {
  background: #fff;
  padding: 0px 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.062);
 

}

header .logo {
  /* background: #ffdbbf3f; */
  border-radius: 10px;
  
}

header .nav {
  position: relative;
  display: flex;
}

header .nav li{
  list-style: none;
  padding-left: 30px;
}

header .nav li a{
  text-decoration: none;
  color: #111;
  font-weight: 900;
  
}

header .nav li a .logIn {
  /* font-size: 25px; */
  text-align: center;


}

header .nav li a .far {
  font-size: 20px;
  

}

header.sticky .nav li a{
  color: #111;
}

header .nav li a:hover{
  color: #ffbd17;

}

.header_search {
  flex: 1;
  height: 35px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.header_search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(17, 17, 17, 0.473);
  font-weight: bold;
  padding: 0 16px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.header_search-btn {
  background-color: #ffbd17;
  border: none;
  height: 35px;
  width: 60px;
  border-radius: 3px;
  margin-right: 3px;
  cursor: pointer;
  outline:none;
}

.header_search-btn:hover {
  background-color: #fdd46f;
}

.header_search-btn-icon {
  font-size: 1em;
  color: white;
}

.user {
  position: relative;
}

.user-option {
  position: absolute;
  right: 0;
  top:100%;
  width: 11   0px;
  box-shadow: 0 0 3px #ccc;
  padding: 0;
  /* overflow: hidden; */
  display: none;
  
}

.user-option::after {
  content: "";
  display: block;
  width: 100%;
  height:5px;
  top: -10px;
  left: 0;
  background-color: red;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-option-item {
  background-color: #fff;
  /* border-top-left-radius: 3px; */
  padding: 8px 8px;
  text-align: center;
  
}


.user-option-item:hover  {
  background-color: #fafafa;
}

.user:hover .user-option{
  display: block;
}


/* header end */

/* container title */

.container-title {
  margin: 10px 0 20px 0;
  background: #fff;
  border-radius: 5px;
  padding: 2% 2%;
}

.container-title h2{
  padding-bottom: 10px;

}

.nut{
  margin-top: 100px;
}
.container{
background: #F5F5F5;
height: 100%;
margin: 0 3% 3% 3%;
padding: 8% 2% 2% 2%;
}
.row1{
  display: flex;
  justify-content: center;
  overflow: hidden;
}


.col-1{
  flex-basis: 40%;
  overflow-x: hidden;
  background: #fff;
  border-radius: 5px;
  padding: 1% 3%;
  margin-left: 10px;
}
.col-1 h2{
  color: red;
}

.col-1 .col-1-comment i{
  margin-right: 10px;
}

.col-1 .col-1-comment a {
  margin-right: 5px;
}

.col-1 .col-1-content_p p{
  margin: 0;
  
}

.col-1 .col-1-content p{
  margin: 0;
}

.col-1 .danh_gia {
  margin-bottom: 10px;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}


/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #ffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #ffff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #ffff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #ffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #ffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #ffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #ffff;
}

form section{
width: 100%;
font-size: 25px;
color: #fe7;
font-weight: 500;
margin: 5px 0 20px 0;
text-align: center;
transition: all 0.2s ease;
}
form .textarea{
height: 100px;
width: 100%;
overflow: hidden;
}
form .textarea textarea{
height: 100%;
width: 100%;
outline: none;
color: #eee;
border: 1px solid #333;
background: rgb(255, 255, 255);
color:black;
padding: 10px;
font-size: 17px;
resize: none;
}


.rating-block{
background-color:#FAFAFA;
border:1px solid #EFEFEF;
padding:15px 15px 20px 15px;
border-radius:3px;
}
.bold{
font-weight:700;
}
.padding-bottom-7{
padding-bottom:7px;
}

.well img{
  display: inline-block;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  margin: 0 0 15px
} 
.row:after{
	content: '';
	display: table;
	clear: both;
}
.left-column{
float: left;
width: 75%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #fff;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}


/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}


/* CONTACT */
.contact {
  background: #ffbd17;
}

.content {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 50px 100px 20px 100px;
}


/* fromBx */

.fromBx {
  min-width: 60%;
}

.fromBx form{
  display: flex;
  flex-direction: column;
}

.fromBx form h3,
.contactInfo h3
{
  color: #555;
  font-size: 30px;
  font-weight:bold ;

}

.fromBx form input,
.fromBx form textarea
{
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
  border-radius: 10px;
}

.fromBx form textarea {
  min-height: 200px;
}

.fromBx form input::placeholder,
.fromBx form textarea::placeholder {
  color: rgba(153, 153, 153, 0.555);
  font-weight: 700;
}

.fromBx form input[type="submit"] {
  max-width: 120px;

  background: #222;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  border-radius: 10px;

}

.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-height: 40px;
  padding-top: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight:bold;
}

.contactInfoBx .box .text h3{
  /* font-weight: 500; */
  color: #111;
}


/* comment */

.comment {
  background: #fff;
  padding: 1% 1%;
  border-radius: 5px;
  margin-top: 3%;
}

.comment .comment-title {
  color: #444;
  margin: 1% 0 1% 0;
}
.comment-hot {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: space-between;
}

.comment-hot .user {
  width: 30%;
  max-height: 400px;
}

.comment-hot .user img{
  width: 100%;
  height: 300px;

  border-radius: 5px;
  
}

.comment-hot .user .user-icon {
  color: #FEC42D;
  text-align: center;

}

.comment-hot .user h4,
.comment-hot .user p {
  text-align: center;
}

.comment-hot .user h4 {
  font-size: 1.5em;
}

.comment-user{
  margin-top: 3%;
}

.comment-user .comment-fake .person-1 img{
  display: inline-block;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 15px;
}
.comment-user .comment-fake .post--comment input{
  display: block;
  overflow: hidden;
  border: 1px solid #c1bfbf;
  padding: 10px;
  font-size: 16px;
  color: black;
  max-height: 200px;
  background:rgb(207, 243, 160);
}
.comment-user .comment-fake .person-1{
  display: flex;
  padding: 2%;
  background: #ccc;
}
.comment-user .comment-fake .person-1 span{
  font-size: medium;
  font-weight: 700;
  padding-left: 5px;
}
